# Python cache
pycache/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/
.venv/

# Packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# IDEs
.vscode/
.idea/
.spyderproject
.spyproject

# OS files
.DS_Store
Thumbs.db

# Logs / temp files
*.log
*.tmp
*.bak
*.swp

# Environment secrets
.env
.env.*